<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Sign Out", logout_path, method: :delete, class: "logout" %>
  </div>
</nav>


<div class="main">
  <% if @link.errors.any? %>
    <% @link.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <br>

  <h1>Edit Link</h1>

  <br>

  <%= render partial: "links/form" %>
</div>
